@import "../variables.modules.scss";

.navList ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
    max-width: 90%;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    text-transform: lowercase;
    margin: 0 auto;
    font-size: 0.9rem;    
    
     
    @media only screen and (min-width:940px){
        max-width: 60%;
        text-transform: capitalize;
    }
    img {
        height: 60px;
    }
    a{
        color:$dark;
        padding: 0.5rem 0;
    }
    li{
        padding: 1.5rem 0;
       
        
    }
    ul{
        list-style-type: none;
        
    }

}
.logo{
    color:$dark;
    font-size: 2rem;
    font-weight: bold;
}
.dark a {
    color: $white;
}
.dark .topRow{
    background-color:rgb(87,94,100);
}
.dark .logo{
    color:$white;
}

.button {
    position: relative;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 12px;
    color: #03f45f;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    filter: hue-rotate(0deg);
    border: 2px solid #ddf7d3;
    transition: all 0.1s linear;
    font-size: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
   
  &:hover{
      background-color:#fad1d3
  }
  @media only screen and (max-width:1202px){
      padding: 3px 10px;
      text-transform: lowercase;
      font-size: 0.9rem;
      padding: 5px;

  }

}
